doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='favicon.ico?v=1.1')
    title Phonebook
    script(src='https://kit.fontawesome.com/ac5bf9eb63.js', crossorigin='anonymous')
    // Font Awsome Version 5.15.4
    link(rel='icon', href='favicon.ico?v=1.1')
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='index.css')
  body
    .container
      // Top Menu Start
      nav
        span#logo Phonebook
        #menu
          ul#navLinks
            li
              a(href='/create-contact') Create Contacts
            li
              a(href='/view-all-contacts') View Contacts
            li
              a(href='/sign-up' id="signUp") Sign Up
          span#toggle
            i.fas.fa-bars
      // Top Menu End
      // Main Content Start
      main
        i.fas.fa-eye-slash
        span No contacts to view
        a(href='/create-contact') Create New Contact
      // Main Content End
      // Footer Start
      footer
        span Personal Phonebook
        span Developed by Stanley Metray
      // Footer End
    script(src='script.js')