doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='icon', href='favicon.ico?v=1.1')
    title Phonebook | SignUp
    script(src='https://kit.fontawesome.com/ac5bf9eb63.js', crossorigin='anonymous')
    // Font Awsome Version 5.15.4
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='sign-up.css')
  body
    nav
        span#logo Phonebook
        #menu
          ul#navLinks
            li
              a(href='/create-contact') Create Contacts
            li
              a(href='/view-all-contacts') View Contacts
            li
              a(href='/sign-up' id="signUp") Sign Up
          span#toggle
            i.fas.fa-bars
    .container
      main
        form#myForm(action='/register', method='post' onsubmit="return validate()")
          span Sign Up
          input(autocomplete='off', type='text', placeholder='First Name', name='firstName' id="firstName")
          input(autocomplete='off', type='text', placeholder='Last Name', name='lastName' id="lastName")
          input#male(type='radio', value='male', name='gender' selected)
          |  
          label(for='male') Male
          input#female(type='radio', value='female', name='gender')
          |  
          label(for='female') Female
          input(autocomplete='off', type='email', placeholder='Email', name='email' id="email")
          input(autocomplete='off', type='password', placeholder='Password', name='password' id="password")
          input(autocomplete='off', type='password', placeholder='Confirm Password', name='confirmPassword' id="confirmPassword")
          label(id='message' style="display:block;") #{message}
          .btns
            button(type='submit') Submit
            button(type='reset') Cancel
        div#loginHere
          p Already have an account? 
          a(href='/login') Login here 
    script(src='sign-up.js')
    script(src='script.js')